body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
      @font-face{
        font-family:hatton;
        src: url(../fuentes/PP\ Hatton\ Medium\ 500.otf);
               }
               .container-alerta{
                display: flex;
                width: 100vw;
                height: 17vh;
                position: fixed;
                
                align-items: center;
                justify-content: center;
                opacity: 0;
                pointer-events: none;
                
                transition: 0.35s;
                
                
                               }
                               .container-alerta .alerta{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30vw;
                height: 90%;
                background-color: white;
                border: solid #268ecd;
                border-radius: 2vw;
                transition: 1.0s;
                
                
                
                               }
                               .alerta .contenido-alerta{
                display: flex;
                align-items: center;
                
                width: 90%;
                height: 80%;
                
                
                
                               }
                               .contenido-alerta .alert-image{
                                display: flex;
                width: 30%;
                height: 80%;
                
                
                
                               }
                               .alert-image .perro-alerta{
                width: 100%;
                height: 100%;
                
                               }
                               .contenido-alerta .text-alert{
                                display: flex;
                width: 70%;
                height: 80%;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-family: hatton;
                font-size: 1.5vw;
                               }
                               .ocultar{
                                opacity: 1;
                                pointer-events: auto;
                                
                                
                                
                                               }
.maincontainer{
    display: flex;
    flex-direction: row;
width: 100vw;
height: 100vh;
background-color: #268ecd;








}
.maincontainer .cont1{
    display: flex;
    width: 23vw;
    height: 100%;
    background-color: #313e54;
flex-direction: column;
align-items: center;




}
.cont1 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
height: 25vh;
background-color: #313e54;


}
.logo .best{
    width: 90%;
height: 60%;



}
.cont1 .dash{
    display: flex;
    flex-direction: column;
    justify-content: center;
width: 80%;
height: 11.11%;


background-color: #313e54;
transition: 0.5s;





    
}
.dash:hover{
    
background-color: rgb(13, 105, 117);



}
.cont1 .linea{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 0.3vh;
}

    .cont1 .ins {
text-decoration: none;

    }
    .cont1 .b{
color: white;
width: 100%;

    }
    .cont1 .t1{
        display: flex;
width: 100%;
height: 20%;
font-size: 2.4vh;
font-family: hatton;
color: beige;



    }
    .maincontainer .cont2{

        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100vh;
       


    }
    .cont2 .subuser{
        display: flex;
        
        align-items: center;
width: 100%;
height: 15vh;
background-color: white;


    }
    .subuser .mitad{
        display: flex;
       align-items: center;
width: 50%;
height: 15vh;


    }

    .mitad .admn{
       
width: 100%;
height: 20%;

margin-left: 5vh;
font-family: hatton;
font-size: 2vh;

    }
    .mitad .user{
width: 70%;
height: 7vh;
margin-left: 5vh;



    }



    .subuser .mitad2{
        width: 50%;
height: 15vh;
display: flex;
flex-direction: row-reverse;
align-items: center;



    }
    .mitad2 .button{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 14%;
height: 6vh;
margin-right: 3vh;
background: none;
border: solid orange;
color: #268ecd;
font-size: 2vh;
font-family: hatton;
transition: 1s;
    }
    #cate{
width: 100%;

    }
    .button:hover{
        
background-color: orange;


    }
    .cont3{
        display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    background-color: #f6f6f6;
    
    
    
       }
       .cont3 .insert-title{
        display: flex;
        width: 100%;
        height: 15%;
                       }
                       .insert-title .container-buscador {
                        width: 25%;
                        height: 100%;
                        display: flex;
                        align-items: end;
                        justify-content: center;
                 
                 }
                 
                 .container-buscador .put-search {
                        width: 80%;
                        height: 40%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                 
                 
                 }
                 
                 .put-search .buscador {
                        display: flex;
                        width: 100%;
                        height: 90%;
                        font-size: 2vh;
                        font-family: hatton;
                        border: 0.222vw solid #268ecd;
                        border-radius: 0.5vw;
                        outline-offset: 0.25vh;
                        outline-color: rgba(194, 219, 254, 1);
                 
                 
                 
                        transition: all 0.2s ease-in-out;
                 
                 
                 
                 }
                 
                 .buscador:focus {
                        outline-offset: 0.4vh;
                 
                        outline-color: rgba(194, 219, 254, 1);
                        border: 0.2vh solid #86B7FE;
                        transition: all 0.2s ease-in-out;
                 
                 
                 }
                 .insert-title .titulo {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-family: hatton;
                    font-size: 3vh;
             
             }
               .maincontainer .container-tabla{
                width: 100%;
                height: 85%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;



               }
              .crear{
                display: flex;
               align-items: center;
               justify-content: center;
               margin: 0;
               padding: 0;
                color: beige;
                text-align: center;
width: 4.5vw;
height: 4.5vw;
position: fixed;
border-radius: 50%;
background-color: green;
border: none;
font-size: 5vw;
cursor: pointer;
left: 94vw;
top: 92vh;
transition: 0.5s;

               }
               
               .container-tabla .tabla{
                width: 95%;
                height: 90%;
                display: flex;
                flex-direction: column;
                background-color: #fda066;
                border-left: solid 0.2vw black;
                border-bottom: solid 0.2vw black;
                border-top: solid 0.2vw black;
                border-right: solid 0.2vw black;
                overflow: hidden;
                scroll-behavior: smooth;
                flex-wrap: wrap;




               }
               .tabla .row-subtitle{
                width: 100%;
       height: 10%;
       display: flex;
       background-color: #268CCA;


               }
               .row-subtitle .put-id{
                width: 6%;
                height: 100%;
                display: flex;
                border-bottom: solid 0.2vw black;
                border-right: solid 0.2vw black;
                justify-content: center;
                align-items: center;
                font-size: 2vh;
                font-family: hatton;

               }
               .row-subtitle .name-due単o{
                width: 14%;
                height: 100%;
                display: flex;
                justify-content: center;
                border-bottom: solid 0.2vw black;
                border-right: solid 0.2vw black;
                align-items: center;
                font-size: 1.2vw;
                font-family: hatton;
                text-align: center;

               }
               .row-subtitle .apellido-due単o{
                width: 14%;
                height: 100%;
                display: flex;
                justify-content: center;
                border-bottom: solid 0.2vw black;
                border-right: solid 0.2vw black;
                align-items: center;
                font-size: 1.2vw;
                font-family: hatton;
                text-align: center;


               }
              
               .row-subtitle .subtitle{
                width: 8%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: solid 0.2vw black;
                border-right: solid 0.2vw black;
                font-size: 1.2vw;
                font-family: hatton;
                text-align: center;


               }
               .row-subtitle .subtitle-1{
                width: 8%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: solid 0.2vw black;
         
                font-size: 1.2vw;
                font-family: hatton;
                text-align: center;
                overflow: hidden;


               }
               .tabla .row-empleados{

                width: 100%;
                height: 10%;
                display: flex;
                background-color: #FF914D;

               }
               .row-empleados .put-id{
                width: 6%;
                height: 100%;
                display: flex;
                border-top: solid 0.2vw black;
                border-bottom: solid 0.2vw black;
                border-right: solid 0.2vw black;
                justify-content: center;
                align-items: center;
                font-size: 2vh;
                font-family: hatton;

               }
               .row-empleados .name-due単o{
                width: 14%;
                height: 100%;
                display: flex;
                justify-content: center;
                border-top: solid 0.2vw black;
                border-bottom: solid 0.2vw black;
                border-right: solid 0.2vw black;
                align-items: center;
                font-size: 1vw;
                font-family: hatton;
                text-align: center;
                overflow: hidden;
               }
               .row-empleados .apellido-due単o{
                width: 14%;
                height: 100%;
                display: flex;
                justify-content: center;
                border-top: solid 0.2vw black;
                border-bottom: solid 0.2vw black;
                border-right: solid 0.2vw black;
                align-items: center;
                font-size: 1vw;
                font-family: hatton;
                text-align: center;
                overflow: hidden;

               }
               #email_empleado{
                width: 14%;
                height: 100%;
                display: flex;
                justify-content: start;
                border-top: solid 0.2vw black;
                border-bottom: solid 0.2vw black;
                border-right: solid 0.2vw black;
                align-items: center;
                font-size: 1vw;
                font-family: hatton;
                text-align: center;
                overflow: hidden;


               }
              
               .row-empleados .subtitle{
                width: 8%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: solid 0.2vw black;
                border-bottom: solid 0.2vw black;
                border-right: solid 0.2vw black;
                font-size: 1vw;
                font-family: hatton;
                text-align: center;
overflow: hidden;

               }
               .row-empleados .subtitle-1{
                width: 8%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: solid 0.2vw black;
                border-bottom: solid 0.2vw black;
         
                font-size: 1vw;
                font-family: hatton;
                text-align: center;
                overflow: hidden;


               }
               .subtitle .edit-button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                font-size: 2vw;
                text-decoration: none;
                color: black;
height: 100%;
border: none;
background: none;
transition: 0.3s;
cursor: pointer;
               }
               .edit-button:hover{
color: red;


               }
               .subtitle-1 .edit-button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                font-size: 2vw;
                text-decoration: none;
                color: black;
height: 100%;
border: none;
background: none;
transition: 0.3s;
cursor: pointer;
               }
               .edit-button:hover{
color: red;


               }
               .container-tabla .container-move-buttons{
                width: 95%;
                height: 8%;
                display: flex;
                justify-content: center;
              
                align-items: center;
                background-color: #313e54;


               }
               .container-move-buttons .content-buttons{
display: flex;
justify-content: space-around;
                width: 40%;
                height: 80%;
                
               }
               .content-buttons .division{
display: flex;
justify-content: space-around;
width: 30%;
height: 100%;
background-color: goldenrod;
border-radius: 2vw;

               }
               .division .arrow-button{
display: flex;
background:none;
color: white;

border: none;
width: 30%;
height: 100%;
font-size:2.4vw;
justify-content: center;
align-items: center;
cursor: pointer;
transition: 0.5s;

               }
               .arrow-button:hover{
color: #268ECD;




               }