body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.maincointainer1{
    display: flex;
    flex-direction: row;
width: 100%;
height: 90vh;




}
.contenido1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90vh;
   

    
    }
    .contenido1 .logo{

        display: flex;

align-items: center;
        width: 100%;
        height: 20vh;

    }
    .logo .logeishon{

display: flex;
        width: 34vh;
        height: 15vh;
        margin: 35px;
        margin-right: 80px;
    }
    .contenido1 .gato{
        display: flex;
width: 94%;
height: 77.8%;





    }
    .contenido2{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 90vh;
        
       
        
        
        }
        .contenido2 .register{
           
            color: #268ecd;
            font-size: 5vh;
        }
        .contenido2 .formulario{
            width: 100%;
            height: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;



        }
        .contenido2 .reg {
width: 90%;
height: 4vh;


        }
        .contenido2 .reg1{


font-size: 5vh;

color: #268ecd;
background: none;
border: none;


        }
        .reg1:hover{
            transition: 0.5s;
background-color: orange;
border: solid orange;
border-radius: 6vh;


        }
        
        
        .fnn{
            display: flex;
width: 100%;
height: 10vh;
background-color: #268ecd;
justify-content: center;
align-items: flex-end;

        }
        .fnn .finn{
            display: flex;
        }
        .finn .vet{
font-size: 2vh;

        }
        @media(orientation:portrait){
            body{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            
            
            }
            .maincointainer1{
                display: flex;
                flex-direction: row;
            width: 75vh;
            height: 155vh;
            
            
            
            
            }
            .contenido1{
                display: flex;
                flex-direction: column;
                width: 50%;
                height: 155vh;
               
            
                
                }
                .contenido1 .logo{
            
                    display: flex;
            justify-content: center;
            align-items: center;
                    width: 100%;
                    height: 20vh;
        
                }
                .logo .logeishon{
            
            display: flex;
                    width: 30vh;
                    height: 13vh;
                   
                }
                .contenido1 .gato{
                    display: flex;
                    margin-top: 92vh;
            width: 100%;
            height: 30%;
            
            
            
            
            
                }
                .contenido2{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    height: 155vh;
                   
                   
                    
                    
                    }
                    .contenido2 .register{
                       text-align: center;
                        color: #268ecd;
                        font-size: 5vh;
                        margin-top: 20%;
                    }
                    .contenido2 .formulario{
                        width: 100%;
                        height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            
            
            
                    }
                    .contenido2 .reg {
            width: 90%;
            height: 4vh;
            
            
                    }
                    .contenido2 .reg1{
            
            
            font-size: 5vh;
            
            color: #268ecd;
            background: none;
            border: none;
            
            
                    }
                    .reg1:hover{
                        transition: 0.5s;
            background-color: orange;
            border: solid orange;
            border-radius: 6vh;
            
            
                    }
                    
                    
                    .fnn{
                        display: flex;
            width: 75vh;
            height: 10vh;
            background-color: #268ecd;
            justify-content: center;
            align-items: flex-end;
            
                    }
                    .fnn .finn{
                        display: flex;
                    }
                    .finn .vet{
            font-size: 2vh;
            
                    }






        }