body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
      @font-face{
        font-family:hatton;
        src: url(../fuentes/PP\ Hatton\ Medium\ 500.otf);
               }
.main_contenedor{
    display: flex;
    align-items: center;
width: 100%;
height: 100vh;
background-color: #f6f6f6;






}
.main_contenedor .mitad_gato{

    width: 50%;
    height: 80%;
  
    align-items: center;
    justify-content: center;
}
.mitad_gato .cat_size{
  margin-top: 12%;
width:100%;
height: 80%;


}
.main_contenedor .mitad_texto{
display: flex;
    width: 50%;
    height: 80%;
   
    align-items: center;


}
.mitad_texto .content{
width: 100%;
height: 70%;

display: flex;
flex-direction: column;

}
.content .mitad_number{
    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
height: 70%;



}
.mitad_number .a{

font-size: 25vh;
font-family: hatton;
}
.content .mitad_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
   


}
.mitad_info .b{
    font-size:7.5vh;
    font-family: hatton;
    margin-bottom: 12%;


}