body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
@font-face{
    font-family:hatton;
    src: url(../fuentes/PP\ Hatton\ Medium\ 500.otf);
           }



.org{
    display: flex;
justify-content: center;
align-items: center;

    width: 100%;
    height: 20vh;
    
    

    }
  .cont{

    display: flex;
    width: 20%;
    height: 70%;
   align-items: center;
   justify-content: center;
    
   
   

  }
  .cont .img5{

        width: 100%;
        height: 100%;
      
        
        
    }
    .ins{
        display: flex;
 justify-content: center;
 align-items: center;
    
        width: 100%;
        height: 70vh;
    
  
      


       }
       .ins .perro{
        width: 40vh;
height: 55vh;


       }
       .ins .gato{
        width: 40vh;
        height: 55vh;

       }
       
       .cont2{
        background-color: white;
        display: flex;
     
       
        flex-direction: column;
        
       align-items: center;
  
   margin-left: 110px; 
   margin-right: 110px;
    width: 50vh;
   height:50vh ;
   justify-content: center;
border-style: solid ;border-width: 15px;
   border-radius: 80px;
   border-color: #d9d9d9;
   

}
.cont2 .correo{
    display: flex;
width: 80%;
height: 15%;
margin: 10px;
border-radius: 10px;
font-family: hatton;
font-size: 3vh;


}
.cont2 .boton{
display: flex;
align-items: center;
justify-content: center;
    background-color: #d9862c;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 4vh;
}
.boton:hover{
    transition: 0.5s;
background-color: #268ecd;




}

.cont2 .formu{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
.cont2 .sesion{
    font-family: hatton;
color: #2e8dc6;
font-size:4.5vh;

}
.regist {
color: #d9862c;




}
.coloru{
color: #d9862c;

    
}







       .fn{
        display: flex;
    
    justify-content: center ;
  
   ;    width: 100%;
        height: 10vh;
        background-color: #268ecd


       }

       @media(max-width:1200px){
        .org{
            display: flex;
        
        
            width: 100%;
            height: 20vh;
            
            justify-content: center;
        
            }
          .cont{
        
            display: flex;
            align-items: center;
           
        
          }
          .cont .img11{
                width: 300px;
                height: 130px;
                
                
            }
            .ins{
                display: flex;
         justify-content: center;
         align-items: center;
            
                width: 100%;
                height: 70vh;
            
          
              
        
        
               }
               .ins .perro{
                width: 40vh;
        height: 55vh;
        
        
               }
               .ins .gato{
                width: 40vh;
                height: 55vh;
        
               }
               
               .cont2{
                background-color: white;
                display: flex;
                padding: 0;
               
                flex-direction: column;
                
               align-items: center;
          
           margin-left: 110px; 
           margin-right: 110px;
            width: 50vh;
           height:50vh ;
           justify-content: center;
        border-style: solid ;border-width: 15px;
           border-radius: 80px;
           border-color: #d9d9d9;
           
        
        }
        .correo{
        width: 80%;
        height: 15%;
        margin: 10px;
        border-radius: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        
        
        }
        .cont2 .boton{
        
            background-color: #d9862c;
            width: 200px;
            height: 40px;
            border: none;
            border-radius: 40px;
            color: white;
            font-size: 30px;
        }
        
        
        
        .cont2 .sesion{
        color: #2e8dc6;
        font-size:25px
        
        }
        .regist {
        color: #d9862c;
        
        
        
        
        }
        
        
        
        
        
        
        
               .fn{
                display: flex;
            
            justify-content: center ;
          
           ;    width: 100%;
                height: 10vh;
                background-color: #268ecd
        
        
               }      }
       